# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# http://guides.cocoapods.org/using/using-cocoapods.html#should-i-ignore-the-pods-directory-in-source-control?
#
pod/Pods/
pod/Podfile.lock
pod/TookTODO.xcworkspace
prj/TookTODO.xcodeproj/project.xcworkspace/xcuserdata/victoria.xcuserdatad/UserInterfaceState.xcuserstate
prj/TookTODO.xcodeproj/xcuserdata/victoria.xcuserdatad/xcschemes/TookTODO.xcscheme
prj/TookTODO.xcodeproj/xcuserdata/victoria.xcuserdatad/xcschemes/xcschememanagement.plist
prj/TookTODO.xcodeproj/xcuserdata/nikolaychaban.xcuserdatad/xcschemes/TookTODO.xcscheme
prj/TookTODO.xcodeproj/xcuserdata/nikolaychaban.xcuserdatad/xcschemes/xcschememanagement.plist
prj/TookTODO.xcodeproj/xcuserdata/Alexander.xcuserdatad/xcschemes/TookTODO.xcscheme
prj/TookTODO.xcodeproj/xcuserdata/Alexander.xcuserdatad/xcschemes/xcschememanagement.plist
