<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>title</key>
			<string>Задачи, Лента, Планы</string>
			<key>type</key>
			<integer>0</integer>
			<key>isEnable</key>
			<false/>
			<key>children</key>
			<array>
				<dict>
					<key>title</key>
					<string>Задачи</string>
					<key>type</key>
					<integer>1</integer>
					<key>isEnable</key>
					<false/>
					<key>children</key>
					<array>
						<dict>
							<key>title</key>
							<string>Выполненные задачи</string>
							<key>type</key>
							<integer>2</integer>
							<key>isEnable</key>
							<false/>
						</dict>
						<dict>
							<key>title</key>
							<string>Отмененные задачи</string>
							<key>type</key>
							<integer>3</integer>
							<key>isEnable</key>
							<false/>
						</dict>
					</array>
				</dict>
				<dict>
					<key>title</key>
					<string>Лента</string>
					<key>type</key>
					<integer>4</integer>
					<key>isEnable</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Планы</string>
					<key>type</key>
					<integer>5</integer>
					<key>isEnable</key>
					<false/>
				</dict>
			</array>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>Фотографии в задачах, где я участник</string>
			<key>type</key>
			<integer>6</integer>
			<key>isEnable</key>
			<false/>
		</dict>
		<dict>
			<key>title</key>
			<string>Фотографии во задачах</string>
			<key>type</key>
			<integer>7</integer>
			<key>isEnable</key>
			<false/>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>Все документы</string>
			<key>type</key>
			<integer>8</integer>
			<key>isEnable</key>
			<false/>
			<key>children</key>
			<array>
				<dict>
					<key>title</key>
					<string>Документы в задачах, где я ответственный</string>
					<key>type</key>
					<integer>9</integer>
					<key>isEnable</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Документы в задачах, где я участник</string>
					<key>type</key>
					<integer>10</integer>
					<key>isEnable</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Документы во всех задачах</string>
					<key>type</key>
					<integer>11</integer>
					<key>isEnable</key>
					<false/>
				</dict>
			</array>
		</dict>
	</array>
</array>
</plist>
